<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Curso 1</title>
</head>
<body>

    <div id="root">

     <ul>

        <li v-for="n in names" v-text="n"></li>

        

    </ul>

        <input id="input-name" type="text" v-model="newName" v-on:keyUp ="addName">
        <button v-on:click="addName">Add Name</button>
        <button @click="addName">Add Name</button>

    </div>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

    <script>

      
        var app = new Vue({

            el:'#root',

            data: {

                    newName : '',
       
                    names: ['Joe','Jane','Janneth','Mary'],             
                  
                  },

            methods: {

                    addName: function(){
                           // alert('adding name');
                           this.names.push(this.newName);
                           this.newName= '';
                    }

            },
            /*
            mounted () {
                //alert('ready');
                document.querySelector('#btn').addEventListener('click', () =>{

                    //var name vai ser o input-name
                    let name = document.querySelector('#input-name');
        
                    //adiciona o value do input a data:names
                    app.names.push(name.value);
        
                    //limpa o value do input
                    name.value = '';
        
                });
            }
            */

        });

       

    </script>
    
</body>
</html>